#app {
  $dark-gray: #1c1c1c;
  $gray: #505050;
  $light-gray: #d4d4d2;
  $orange: #ff9500;
  $white: #ffffff;

  display: grid;
  grid-template-areas:
    ". . . ."
    "field field field field"
    "clear sign percent divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero zero decimal equals";
  grid-template-rows: 1fr 1fr 90px 90px 90px 90px 90px;
  align-items: center;
  justify-content: center;
  background-color: $dark-gray;
  width: 390px;
  height: 744px;
  padding: 50px 0px;
  border-radius: 50px;

  @mixin btn($grid-area, $background-color, $color) {
    grid-area: $grid-area;
    background-color: $background-color;
    color: $color;
    border: none;
    border-radius: 50%;
    font-family: -apple-system-body, BlinkMacSystemFont, sans-serif;
    font-size: 35px;
    width: 75px;
    height: 75px;
    margin: 6px;
    text-align: center;
  }

  #field {
    grid-area: field;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0 10px;
    font-family: -apple-system-body, BlinkMacSystemFont, sans-serif;
    font-size: 95px;
    font-weight: 100;
    color: $white;
  }

  #clear-btn {
    @include btn(clear, $light-gray, $dark-gray);
  }

  #sign-btn {
    @include btn(sign, $light-gray, $dark-gray);
  }

  #percent-btn {
    @include btn(percent, $light-gray, $dark-gray);
  }

  #equals-btn {
    @include btn(equals, $orange, $white);
  }

  #division-btn {
    @include btn(divide, $orange, $white);
  }

  #multiplication-btn {
    @include btn(multiply, $orange, $white);
  }

  #subtraction-btn {
    @include btn(subtract, $orange, $white);
  }

  #addition-btn {
    @include btn(add, $orange, $white);
  }

  #decimal-btn {
    @include btn(decimal, $gray, $white);
  }

  #zero-btn {
    @include btn(zero, $gray, $white);
    border-radius: 80px;
    width: 160px;
    text-align: left;
    text-indent: 20px;
  }

  #one-btn {
    @include btn(one, $gray, $white);
  }

  #two-btn {
    @include btn(two, $gray, $white);
  }

  #three-btn {
    @include btn(three, $gray, $white);
  }

  #four-btn {
    @include btn(four, $gray, $white);
  }

  #five-btn {
    @include btn(five, $gray, $white);
  }

  #six-btn {
    @include btn(six, $gray, $white);
  }

  #seven-btn {
    @include btn(seven, $gray, $white);
  }

  #eight-btn {
    @include btn(eight, $gray, $white);
  }

  #nine-btn {
    @include btn(nine, $gray, $white);
  }
}
