#app {
  $dark-gray: #1C1C1C;
  $gray: #505050;
  $light-gray: #D4D4D2;
  $orange: #FF9500;
  $white: #FFFFFF;

  display: grid;
  grid-template-areas: 
    '. . . .'
    'field field field field'
    'clear sign percent divide'
    'seven eight nine multiply'
    'four five six subtract'
    'one two three add'
    'zero zero decimal equals';
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  background-color: $dark-gray;
  width: 390px;
  height: 844px;
  padding: 50px 10px 50px 10px;
  border-radius: 50px;

  @mixin btn {
    border: none;
    border-radius: 50%;
    font-size: 40px;
    width: 80px;
    height: 80px;
    margin: 5px;
    text-align: center;
  }

  #field {
    grid-area: field;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    font-family: -apple-system-body, BlinkMacSystemFont, sans-serif;
    font-weight: 100;
    font-size: 100px;
    color: $white;
  }

  #clear-btn {
    grid-area: clear;
    background-color: $white;
    color: $dark-gray;
    @include btn;
  }

  #sign-btn {
    grid-area: sign;
    background-color: $light-gray;
    color: $dark-gray;
    @include btn;
  }

  #percent-btn {
    grid-area: percent;
    background-color: $light-gray;
    color: $dark-gray;
    @include btn;
  }

  #equals-btn {
    grid-area: equals;
    background-color: $orange;
    color: $white;
    @include btn;
  }

  #division-btn {
    grid-area: divide;
    background-color: $orange;
    color: $white;
    @include btn;
  }

  #multiplication-btn {
    grid-area: multiply;
    background-color: $orange;
    color: $white;
    @include btn;
  }

  #subtraction-btn {
    grid-area: subtract;
    background-color: $orange;
    color: $white;
    @include btn;
  }

  #addition-btn {
    grid-area: add;
    background-color: $orange;
    color: $white;
    @include btn;
  }

  #decimal-btn {
    grid-area: decimal;
    background-color: $gray;
    color: $white;
    @include btn;
  }

  #zero-btn {
    grid-area: zero;
    background-color: $gray;
    color: $white;
    border: none;
    border-radius: 80px;
    font-size: 40px;
    width: 170px;
    height: 80px;
    margin: 5px;
    text-align: center;
  }

  #one-btn {
    grid-area: one;
    background-color: $gray;
    color: $white;
    @include btn;
  }

  #two-btn {
    grid-area: two;
    background-color: $gray;
    color: $white;
    @include btn;
  }

  #three-btn {
    grid-area: three;
    background-color: $gray;
    color: $white;
    @include btn;
  }

  #four-btn {
    grid-area: four;
    background-color: $gray;
    color: $white;
    @include btn;
  }

  #five-btn {
    grid-area: five;
    background-color: $gray;
    color: $white;
    @include btn;
  }

  #six-btn {
    grid-area: six;
    background-color: $gray;
    color: $white;
    @include btn;
  }

  #seven-btn {
    grid-area: seven;
    background-color: $gray;
    color: $white;
    @include btn;
  }

  #eight-btn {
    grid-area: eight;
    background-color: $gray;
    color: $white;
    @include btn;
  }

  #nine-btn {
    grid-area: nine;
    background-color: $gray;
    color: $white;
    @include btn;
  }
}
